body {
  margin: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p, .leaflet-popup-content {
  text-align: left;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

input, textarea {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

textarea {
  width: 80%;
}

h1 {
  text-align: center;
}

#wrapper {
  /*width: 750px;*/
}

#map {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
}

#thanks {
  background-color: #B82233;
}

#content {
  color: white;
  padding: 50px;
}
#content a {
  color: white;
}
#content p {
  text-align: center;
}


#controls {
  display: none;
  width: 100%;
  margin: 0 auto;
  float: left;
}

#form {
  display: none;
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
}

#header {
  position: fixed;
  right: 0;
  z-index: 5;
  width: 20%;
  height: 100vh;
  background-color: #B82233;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  color: white;
}

#credits p {
  margin-top: 5px;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
}
